body{
    margin: 0px;
}
h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
}
.info{
    display: flex;
    height: 24px;
    margin-top: 24px;
   
}
.info1{
     display: flex;
    height: 24px;
    margin-top: 24px;
}
.clock img{
    height: 16px;
    width: 16px;
   
}
.clock{
     display: flex;
    background-color: rgb(173, 170, 170);
    border-radius: 10px;
    padding: 5px;
    width: 64px;
}
.clock span{
 margin: 0;
 padding-left: 5px;

}
.brain img{
    height: 16px;
    width: 16px;
}
.brain{
      display: flex;
    background-color: rgb(173, 170, 170);
    border-radius: 10px;
    padding: 5px;
    width: 64px;
    padding-left: 5px;
    margin-left: 16px;
}
.brain span{
    margin: 0;
    padding-left: 5px;
}
.calendar{
       display: flex;
    background-color: rgb(173, 170, 170);
    border-radius: 10px;
    padding: 5px;
    width: 96px;
    padding-left: 5px;
    margin-left: 16px;
}
.calendar img{
     height: 16px;
    width: 16px;
}
.calendar span{
    margin: 0;
    padding-left: 5px;
}
#Portionen{
    display: flex;
    height: 32px;
}
#Portionen input{
    height: 16px;
    margin-top: 14px;
    margin-left: 10px;
}
h3{
    margin: 0;
}
span{
    margin: 0;
    
}
.bild{
   height: 400px;
    width: 80%;
}
.center{
     display: flex;
    justify-content: center;
    align-items: center;
    
}
.rechner{
    margin-top: 24px;
}
.rechner span{
    font-size: 24px;
}
.rechner input{
    margin-left: 16px;
    height: 24px;
}
.rechner button{
    height: 30px;
    background-color: rgb(48, 150, 48);
}
h3{
    font-size: 32px;
}
.clock_zeit{
      display: flex;
    background-color: rgb(173, 170, 170);
    border-radius: 10px;
    padding: 5px;
    width: 88px;
}
.clock_zeit span{
    margin: 0;
    padding-left: 5px;
}
.clock_zeit1{
         display: flex;
    background-color: rgb(173, 170, 170);
    border-radius: 10px;
    padding: 5px;
    width: 172px;
    margin-left: 15px;
}
.clock_zeit1 span{
    margin: 0;
    padding-left: 5px;
}
li{
    margin-top: 8px;
}

.table{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    
}
.gray{
    background-color: gray;
    width: 80vw;
}
.gray{
    background-color: gray;
    width: 80vw;
    height: 16px;
    padding-left: 15px;
    font-size: 20px;
}
.white{
    font-size: 20px;
    padding-left: 15px;
}
.profil{
    height: 64px;
    width: 64px;
}

.order{
    display: flex;
    justify-content: flex-start;
    width: 80%;
}
.container{
    width: 80%;
    
}
@media (max-width: 630px){
    h1{
        font-size: 32px;
    }
}

@media (max-width: 510px){
    h1{
        word-break: keep-all;
    }
}

