:root {
  --main-color: #038103;
  --footer-color: #403b3b;
  --footer-text-color: #ffffff;
  --main-font: "raleway", sans-serif;
}

@font-face {
  font-family: raleway;
  src: url("/assets/fonts/Raleway-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section_nav {
  display: flex;
}

.header_img {
  display: flex;
  padding-left: 200px;
  padding-top: 15px;
  height: 100px;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 200px;
  box-shadow: 0px 1px 3px grey;
}
.nav {
  display: flex;
  gap: 25px;
  align-items: end;
}
nav a {
  text-decoration: none;
  font-family: raleway;
  font-size: 24px;
  color: black;
}

nav a:hover {
  cursor: pointer;
  color: var(--main-color);
}

nav a:active {
  color: var(--main-color);
  border-bottom: 2px var(--main-color);
}

.footer {
  background-color: var(--footer-color);
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 80px;
  flex-direction: column;
  color: var(--footer-text-color);
  font-family: var(--main-font);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer a {
  text-decoration: none;
  color: var(--footer-text-color);
}

.footer a:hover {
  cursor: pointer;
  color: var(--main-color);
}
