body {
  background-color: #fdf4f4;
  width: 100%;
}
.gang_container {
  padding-top: 60px;
}
h2 {
  font-size: 50px;
  color: #403b3b;
}
.h2 {
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
}

.appetizer_img_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom: 120px;
}
.appetizer_headline {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 40px;
  margin-right: 185px;
}
.appetizer_headline a {
  text-decoration: none;
  color: #403b3b;
}
.appetizer_headline a:hover {
  color: var(--main-color);
}
.recipe_img {
  height: 300px;
  width: 500px;
  border-radius: 10px;
  display: flex;
  margin-right: 70px;
}
.appetizer_span {
  background-color: #403b3b;
  padding: 20px 20px;
  color: white;
  margin-left: 70px;
  border-radius: 10px;
  display: flex;
  font-size: 30px;
  text-align: justify;
  align-items: center;
  margin-right: 120px;
}
.main_course_headline {
  margin-left: 150px;
  padding-bottom: 40px;
}
.main_course_headline a {
  text-decoration: none;
  color: #403b3b;
}
.main_course_headline a:hover {
  color: var(--main-color);
}
.main_course_img {
  margin-left: 70px;
  height: 300px;
  width: 500px;
  border-radius: 10px;
}
.main_course_container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}
.main_course_span {
  background-color: #403b3b;
  padding: 20px 20px;
  color: white;
  margin-right: 70px;
  border-radius: 10px;
  font-size: 30px;
  text-align: justify;
  margin-left: 120px;
}
.dessert_headline {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 40px;
  margin-right: 160px;
}
.dessert_headline a {
  text-decoration: none;
  color: #403b3b;
}
.dessert_headline a:hover {
  color: var(--main-color);
}
.findus {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  flex-direction: column;
}
.findus img {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
}
.findus_headline {
  display: flex;
  justify-content: center;
}
.findus_subheadline {
  display: flex;
  justify-content: center;
  font-size: 22px;
}
.iframe {
  width: 100%;
  height: 400px;
}

@media (max-width: 1668px) {
  .recipe_img {
    height: 200px;
    width: 250px;
  }
  .appetizer_span {
    font-size: 23px;
    height: 250px;
    padding: 20px 20px;
  }
  .main_course_span {
    font-size: 23px;
  }
  .main_course_img {
    height: 200px;
    width: 250px;
  }
}
@media (max-width: 1569px) {
  .main_course_span {
    font-size: 23px;
  }
}
@media (max-width: 1155px) {
  .appetizer_img_container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .appetizer_span {
    margin-right: 70px;
  }
  .appetizer_headline {
    margin-right: 0px;
    justify-content: center;
  }
  .recipe_img {
    margin-right: 0px;
  }
  .main_course_headline {
    margin-left: 0px;
    justify-content: center;
    display: flex;
  }
  .main_course_container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .main_course_img {
    margin-left: 0px;
  }
  .main_course_span {
    margin-left: 70px;
  }
  .dessert_headline {
    margin-right: 0;
    justify-content: center;
  }
}
@media (max-width: 719px) {
}
