.main-container {
  padding: 50px 160px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-image: url(/assets/img/Kochwelt.jpg);
}

h1 {
  padding-top: 266px;
  font-size: 100px;
  color: white;
  display: flex;
  justify-content: center;
}
.gang_container {
  padding-top: 60px;
}
h2 {
  font-size: 50px;
  color: #403b3b;
}
.h2 {
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
}

.appetizer_img_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom: 120px;
}
.appetizer_headline {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 40px;
  margin-right: 180px;
}
.recipe_img {
  height: 300px;
  width: 500px;
  border-radius: 10px;
  display: flex;
  margin-right: 70px;
}
.appetizer_span {
  background-color: #403b3b;
  padding: 20px 20px;
  color: white;
  margin-left: 70px;
  border-radius: 10px;
  display: flex;
  font-size: 30px;
  text-align: justify;
  align-items: center;
  margin-right: 120px;
}
.main_course_headline {
  margin-left: 125px;
  padding-bottom: 40px;
}
.main_course_img {
  margin-left: 70px;
  height: 300px;
  width: 500px;
  border-radius: 10px;
}
.main_course_container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}
.main_course_span {
  background-color: #403b3b;
  padding: 20px 20px;
  color: white;
  margin-right: 70px;
  border-radius: 10px;
  font-size: 30px;
  text-align: justify;
  margin-left: 120px;
}
.dessert_headline {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 40px;
  margin-right: 120px;
}
