.main-container {
  padding: 50px 160px;
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-image: url(/assets/img/Kochwelt.jpg);
}
h1 {
  padding-top: 266px;
  font-size: 100px;
  color: white;
  display: flex;
  justify-content: center;
}
.subheadline {
  font-size: 50px;
  color: white;
  text-decoration: none;
}
.button {
  text-decoration: none;
}
a:hover {
  color: #403b3b;
  text-decoration: none;
}
@media (max-width: 1269px) {
  .subheadline {
    font-size: 40px;
  }
}
@media (max-width: 1080px) {
  .main-container {
    padding: 50px 16px;
  }
}
@media (max-width: 795px) {
  .subheadline {
    font-size: 25px;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 60px;
  }
}
@media (max-width: 515px) {
  .subheadline {
    font-size: 20px;
  }
}
@media (max-width: 423px) {
  .subheadline {
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  h1 {
    font-size: 50px;
  }
  .subheadline {
    font-size: 14px;
  }
}
